<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PeRyL template demo</title>
</head>

<body>

    <h1>PeRyL template demo</h1>

    <script type="text/html" id="item-tmpl">
        <div id="<%= id %>" class="<%= (1 % 2 == 1 ? ' even' : '') %>">
            <div class="grid_1 alpha right">
                <img class="righted" height="100" src="<%= profile_image_url %>"/>
            </div>
            <div class="grid_6 omega contents">
                <p>
                    <strong>
                        <a href="/<%= from_user %>"><%= from_user %></a>:
                    </strong>
                    <%= text %>
                </p>
            </div>
        </div>
    </script>
    <script type="text/html" id="user-tmpl">
        <% for (var i = 0; i < users.length; i++) { %>
        <li><a href="<%= users[i].url %>"><%= users[i].name %></a></li>
        <% } %>
    </script>
    <script type="text/html" id="hello-tmpl">
        Hello ${name}, greeting from template!
    </script>

    <!-- <script src="../../build/src/template.js"></script> -->

    <div id="results" style="border: 1px solid red"></div>

    <div id="container"></div>

    <script type="module" src="template_demo.ts"></script>

</body>

</html>
